html {

    background-color: white;
    opacity: 1;
    margin: 0px;
    padding: 0px ;
    top: 0%;

}
body{
    margin: 4px;
    display:block;
width: 99.9%;
}
.root {
    --background-color: rgb(244, 221, 215);
}

.divider {
    display:none;

    /* content: ""; */
    background-color: rgb(253, 204, 204);
    height: 0px;
    width: 0%;
    z-index: -1;
    /* position: relative; */
}

#service-0,
#about-0 {
    text-align: centre;
    margin: auto;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(253, 204, 204);
    border: 1rem solid white;
    border-radius: 5rem;


}

/* NAVBAR ###############################################################################*/
/* navbar design as grid no image is included */
.navbar {
    font-size: 1rem;
    /* border: 5px solid black; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6rem;
    align-items: center;
    position: absolute;

    width: 99%;
    top: 0px;
    left: 0px;
    /* z-index: 1; */
    /* opacity: 1; */
    background-color: rgb(244, 221, 215);
}

.navbar div a,
#logo {
    display: grid;
    /* border: 5px solid red; */
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    margin: auto;
    text-decoration-color: red;
}

.navbar div button a img {
    height: 3rem;
    width: 3rem;
    display: box;
    align-items: center;
    align-content: center;
    border: 2px solid #f5dede;
    border-radius: 1.2rem;

}

.navbar div {
    /* border: 2px solid black; */
    /* border-radius: 1.2rem; */
    background-color: rgb(244, 221, 215);
    border-style: hidden;
    align-items: center;
        align-content: center;
        margin: auto;
}

.navbar div a:hover {
    background-color: white;
    border-radius: 1rem;
}

#logo {
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    text-decoration-color: red;
    text-shadow: 0.1rem 0.1rem;
    background-color: white;
    border-radius: 1rem;
}

/* home######################################################## */
.home {
    display: grid;
    grid-template-columns: minmax(0, 1);
    grid-gap: 99px;
    grid-row: 4rem;
    width: 99%;
    height: 705px;
    opacity: 1;
    position: relative;
    /* z-index: -1; */
    /* border: 3px solid rgb(11, 37, 239); */
    top: 208px;
}

.home::before {
    content: "";
    position: absolute;
    background: url('./shutterstock_711673795.jpg') no-repeat center center/cover;
    /* height: 700px; */
    top: 0px;
    left: 0px;
    width: 99.5%;
    z-index: -1;
    opacity: 0.89;
    /* border: 5px solid red; */

}

.home div {
    /* border: 5px sold black; */
    /* background-color: red; */
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    /* opacity: 0.8; */
    /* position: relative; */
}
#home-down{
    display: none;
}
/* services######################################## */


.services {
    /* background-color: red; */

    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    
    /* position: relative; */
    width: 100%;
    position: relative;
    top: 285px;
}

#service-0 {
    /* display: grid; */
    /* grid-area: service-0; */
    text-align: centre;
    align-items: center;
    margin: auto;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(253, 204, 204);
    position:relative;
    top: 14px;
}
/* 
#service-1 {
    display: grid;
    grid-area: service-1;
    background-color: rgb(253, 204, 204);
}

#service-2 {
    display: grid;
    grid-area: service-2;
}

#service-3 {
    display: grid;
    grid-area: service-3;
}

#service-4 {
    display: grid;
    grid-area: service-4;
    background-color: rgb(253, 204, 204);
}


#service-5 {
    display: grid;
    background-color: rgb(253, 204, 204);
    grid-area: service-5;
}

#service-6 {
    display: grid;
    grid-area: service-6;
}

#service-7 {
    display: grid;
    grid-area: service-7;
}

#service-8 {
    display: grid;
    background-color: rgb(253, 204, 204);
    grid-area: service-8;
}

#service-9 {
    display: grid;
    grid-area: service-9;
    background-color: rgb(253, 204, 204);
}

#service-10 {
    display: grid;
    grid-area: service-10;
} */
#service-1,#service-2,#service-3,#service-4,#service-5,#service-6
{
   margin: 1px -6px; 
}

.services div {
    border: 5px solid var(--background-color);
    display: block;
    align-items: center;
    margin: auto;
    padding: 4% 32%;
    text-align: center;
}

.services div img {
    border: 5px solid var(--background-color);
    border-radius: 2rem;
    /* display: block; */

}

.services div img {
    border: 5px solid black;
}.desc {
    color: red;
}
.services div p {
    font-size: 2rem;
    color: black;
    text-align: center;
    top: 20px;
    margin: auto;
}
/* @@@@@@@@@@@@@@@@products
 */
 #products{

    position: relative;
    top:417px
 }
/* about##################################### */
.about {
    display: grid;
    /* background-color: red; */

    grid-gap: 4fr;
    z-index: -1;
    position: relative;
    top: 500px;
}

.about div {
    /* background-color: white; */
    /* border: 5px solid black; */
    text-align: center;
    margin: auto;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;



}
.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    top: 505px;

}